<div class="row justify-content-center align-items-center p-2">
  <div class="col-lg-3 col-md-3 text-center mt-5">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center p-10">
<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Lecturer, Dept. of CSE, IUT</p>
</div>
<div class="row justify-content-center align-items-center p-10">
<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Computer Vision & Deep Learning Researcher</p>
</div>
<br/>
<p class="text-center">
{% include elements/button.html link="https://cse.iutoic-dhaka.edu/profile/zahidulislam" target="_blank" rel="noopener noreferrer" text="IUT Profile" %}
{% include elements/button.html link="https://zahid58.github.io/CV_Md_Zahidul_Islam_IUT.pdf" text="View CV" %}
{% include elements/button.html link="https://www.linkedin.com/in/zahid58/" text="LinkedIn" %}
</p>


<!-- <p class="text-center">
  {% include elements/button.html link="https://cse.iutoic-dhaka.edu/profile/zahidulislam" text="IUT Profile" style="primary" %}
  {% include elements/button.html link="https://zahid58.github.io/CV_Md_Zahidul_Islam_IUT.pdf" text="View CV" style="primary" %}
  {% include elements/button.html link="https://www.linkedin.com/in/zahid58/" text="LinkedIn" style="primary" %}
  </p> -->


<!-- <div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div> -->