---
---
@import "portfolYOU";
ol, ul {
  list-style-position: inside;
  padding-left: 0;
}
.card.mb-11 {
  margin-bottom: 20px;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
  box-shadow: -1px 4px 10px -6px rgba(75, 74, 75, 0.24)
}
.card.mb-11 img {
  object-fit: cover;
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
  border: 1px solid rgb(69, 69, 70);
  box-shadow: -1px 10px 4px -6px rgba(75, 74, 75, 0.24)
}
left_right {
  display: flex;
  justify-content: space-between;
}
