---
---

.work.card {
    color: rgb(29, 30, 34);
    border-radius: 15px;
    text-decoration: none !important;
    margin: 10px auto;
  
    .card-img-top {
      border-radius: 15px 15px 0 0;
      margin: 1px auto;
    }
  
    transition: transform 400ms;

    .disable-hover,
    .disable-hover * {
        pointer-events: none !important;
    }
}

@import "portfolYOU";