---
---
.work.card {
    border-radius: 15px;
    text-decoration: none !important;
    margin: 10px auto;
  
    .card-img-top {
      border-radius: 5px 5px 0 0;
      margin: none;
    }
  
    transition: transform 400ms;
  
    :hover{
      transform: translateY(-4px);
      box-shadow: -1px 4px 20px -6px;
    }
  }
@import "portfolYOU";