<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.research_timeline %}
      <div class="timeline-item">
        <div class="content">
          <h3>{{ item.title }}</h3>
          <h5 style="color:#007bff;">{{ item.authors }}</h5>
          <h5 style="color:#0d0046;"><b>{{ item.jorc }}</b></h5>
          <h6 class="date">{{ item.date }}</h6>
          <p align="center">
            <img src="{{item.cover}}" style="max-width: 100%; max-height: 100%;object-fit:contain">
          </p>
          <p style="text-align: justify;"><b>Abstract</b> - {{ item.abstract }}</p>
          <p class="text-center"> {% include elements/button_nt.html link=item.link text=item.linkname %} </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>